*{
    margin:0px;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

body, html{

    padding:0px;
    margin:0px;
    background-color: #f2f2f2;

}
.mainimg{
    width: 100%;
    height:891px;
}
.content{
    width: 100%;
    height:100%;
    background-color: #5d4954;
}
.scrolling-box{
    width: 100%;
    height: auto;
}

.box3{
    width: 100%;
    height:50px;
    text-align: center;
}
section .sec1{
    width: 100%;
    height:96vh;  
}
.mainimg{
    width: 100%;
    height: 96vh;
    
}
.box2{
    text-align: center;
    margin-top: 30px;
    font-size: 100px;
   width: 100%;
   height:100px;
   font-family: 'Poppins', sans-serif;
   color:#404040;
   
}

.totop{
    width: 100%;
    display: flex;
    justify-content: center;
    height:30px;
  

}
.totop a{
    color:#404040;
    text-decoration: none;

}

.card{
    width:65%;
    height: 500px;
    background-position: center;
    background-size: cover;   
    float: left;
    border: 1px solid black;
    max-width: 100%;
}
.card3{
    width:65%;
    height: 500px;
    background-position: center;
    background-size: cover;   
    float: left;
    border: 1px solid black;
}
.card4{
    width:65%;
    height: 500px;
    background-position: center;
    background-size: cover;   
    float: left;
    border: 1px solid black;
}
.testhead{
    text-align: center;
    color:#404040;
    font-size: 40px;
}
.testcontent li{
    color: #666666;
    line-height: 30px;
    font-size: 20px; 
    list-style-type:none;
}
.testcontent ul{
    margin-top: 30px;
}
.test,.test2{
    width: 100%;
    height:38vw;

}
.testimg,.testimg2{
    width:65%;
    height:100%;
    float: left;
 
}
.testcontent .testhead,ul,li,h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.testcontent a,h3{
    text-decoration: none;
    color:#404040;
    margin-top: 30px
  

}
@media screen and (max-width:300px) {
    .test{
        width: 100%;
        height:auto;

    }
   .testimg,.testimg2{
    width:100%;

  }
}


@media screen and (max-width:800px) {
    .test{
        width: 100%;
        height:auto;


    }
   .testimg,.testimg2{
    width:100%;

  }
}
@media screen and (min-width:801px) {
    .test{
        width: 100%;
 
    }
    .testimg,.testimg2{
      
    margin-left: 80px;
    }
  
}